.conteiner{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    height: 100vh;
}
.leftSideBar{
    height: 100hv;
    border: 1px solid black;
    margin-right: 3px;
}
.main{
    height: 100hv;
    border: 1px solid black;
}
.rightSideBar{
    height: 100hv;
    border: 1px solid black;
    margin-left: 3px;
}
.header{
    border: 1px solid black;
    margin-bottom: 3px;
}