.conteiner{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
    grid-template-areas: 
        "left header right"
        "left content right";
    gap: 3px 3px;
}
.leftSideBar{
    height: 100hv;
    background-color: grey;
    grid-area: left;
}
.mainContent{
    height: 100hv;
    background-color: grey;
    grid-area: content;
}
.rightSideBar{
    height: 100hv;
    background-color: grey;
    grid-area: right;
}
.header{
    background-color: grey;
    grid-area: header;
}


@media (max-width: 768px) {
    .conteiner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 8fr 1fr;
        height: 100vh;
        grid-template-areas: 
            "header"
            "content"
            "left";
        gap: 3px 3px;
    }
    .leftSideBar {
        background-color: grey;
        grid-area: left;
    }
    .mainContent {
        background-color: grey;
        grid-area: content;
    }
    .rightSideBar {
        display: none;
    }
    .header {
        background-color: grey;
        grid-area: header;
    }
}